Autonomous-Garden-Monitor/.scratch/homepage.prototype.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.w3.org/2000/svg">
  <xs:element name="svg">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="rect" maxOccurs="unbounded">
          <xs:complexType>
            <xs:attribute name="width" use="required" />
            <xs:attribute name="height" use="required" />
            <xs:attribute name="fill" use="required" />
            <xs:attribute name="x" />
            <xs:attribute name="y" />
            <xs:attribute name="rx" type="xs:integer" />
            <xs:attribute name="fill-opacity" type="xs:decimal" />
          </xs:complexType>
        </xs:element>
        <xs:element name="path">
          <xs:complexType>
            <xs:attribute name="d" use="required" />
            <xs:attribute name="fill" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="g" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence minOccurs="0">
              <xs:element name="path" minOccurs="0">
                <xs:complexType>
                  <xs:attribute name="d" use="required" />
                  <xs:attribute name="fill" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="rect" minOccurs="0">
                <xs:complexType>
                  <xs:attribute name="x" type="xs:decimal" use="required" />
                  <xs:attribute name="y" type="xs:decimal" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="258.011" />
                        <xs:enumeration value="428.484" />
                        <xs:enumeration value="590.619" />
                        <xs:enumeration value="592.472" />
                        <xs:enumeration value="763.872" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="width" type="xs:decimal" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="145.006" />
                        <xs:enumeration value="147.926" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="height" type="xs:decimal" use="required" fixed="51.8831" />
                  <xs:attribute name="rx" type="xs:integer" use="required" fixed="4" />
                  <xs:attribute name="fill" use="required" fixed="#216708" />
                </xs:complexType>
              </xs:element>
              <xs:element name="g" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="rect">
                      <xs:complexType>
                        <xs:attribute name="x" type="xs:integer" use="required" />
                        <xs:attribute name="y" type="xs:integer" use="required" />
                        <xs:attribute name="width" type="xs:integer" use="required" />
                        <xs:attribute name="height" type="xs:integer" use="required" />
                        <xs:attribute name="rx" type="xs:integer" use="required" />
                        <xs:attribute name="fill" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="path">
                      <xs:complexType>
                        <xs:attribute name="d" use="required" />
                        <xs:attribute name="fill" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="filter" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="filter" />
            <xs:attribute name="opacity" type="xs:decimal" />
          </xs:complexType>
        </xs:element>
        <xs:element name="defs">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="filter" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="feFlood">
                      <xs:complexType>
                        <xs:attribute name="flood-opacity" type="xs:integer" use="required" fixed="0" />
                        <xs:attribute name="result" use="required" fixed="BackgroundImageFix" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="feColorMatrix" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="in">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="SourceAlpha" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="type" use="required" fixed="matrix" />
                        <xs:attribute name="values" use="required" />
                        <xs:attribute name="result">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="hardAlpha" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="feOffset" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="dy" type="xs:integer" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="2" />
                              <xs:enumeration value="3" />
                              <xs:enumeration value="4" />
                              <xs:enumeration value="5" />
                              <xs:enumeration value="7" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="feGaussianBlur" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="stdDeviation" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="10.5" />
                              <xs:enumeration value="2" />
                              <xs:enumeration value="4" />
                              <xs:enumeration value="7.5" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="feComposite" minOccurs="0">
                      <xs:complexType>
                        <xs:attribute name="in2" use="required" fixed="hardAlpha" />
                        <xs:attribute name="operator" use="required" fixed="out" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="feBlend" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:attribute name="mode" use="required" fixed="normal" />
                        <xs:attribute name="in2" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="BackgroundImageFix" />
                              <xs:enumeration value="effect1_dropShadow_31_35" />
                              <xs:enumeration value="effect2_dropShadow_31_35" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="result" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="effect1_dropShadow_31_35" />
                              <xs:enumeration value="effect2_dropShadow_31_35" />
                              <xs:enumeration value="shape" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="in">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="SourceGraphic" />
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:ID" use="required" />
                  <xs:attribute name="x" use="required" />
                  <xs:attribute name="y" use="required" />
                  <xs:attribute name="width" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="1029.86" />
                        <xs:enumeration value="135" />
                        <xs:enumeration value="145" />
                        <xs:enumeration value="187.006" />
                        <xs:enumeration value="189.926" />
                        <xs:enumeration value="239" />
                        <xs:enumeration value="315.903" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="height" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="114" />
                        <xs:enumeration value="27.5668" />
                        <xs:enumeration value="56" />
                        <xs:enumeration value="710.275" />
                        <xs:enumeration value="76" />
                        <xs:enumeration value="93.8831" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="filterUnits" use="required" fixed="userSpaceOnUse" />
                  <xs:attribute name="color-interpolation-filters" use="required" fixed="sRGB" />
                </xs:complexType>
              </xs:element>
              <xs:element name="pattern" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="use">
                      <xs:complexType>
                        <xs:attribute name="transform" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:ID" use="required" />
                  <xs:attribute name="patternContentUnits" use="required" fixed="objectBoundingBox" />
                  <xs:attribute name="width" type="xs:integer" use="required" fixed="1" />
                  <xs:attribute name="height" type="xs:integer" use="required" fixed="1" />
                </xs:complexType>
              </xs:element>
              <xs:element name="image" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="id" use="required" />
                  <xs:attribute name="width" type="xs:integer" use="required" />
                  <xs:attribute name="height" type="xs:integer" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="width" type="xs:integer" use="required" />
      <xs:attribute name="height" type="xs:integer" use="required" />
      <xs:attribute name="viewBox" use="required" />
      <xs:attribute name="fill" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>